body{
    width: 360px;
    height: auto;
    margin:0;
    overflow: hidden;
    background-color: #ffeaea;
}

#bimg{
    height: 75px;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
}

#menu-b{
    position: relative;
    display: flex;
    border-radius: 10px;
    border:0cap;
    background-color: #ccc;
    height: 50px;
    width: 50px;
    padding:10px;
    left: 20px;
    bottom: 70px;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    transition: 0.1s;
}

#menu-b:hover{
    background-color: #e6e3e3
}

#menu-b:active{
    background-color: #ffffff
}

.menu-b-img{
    margin-top: 5%;
    display: flex;
    height: 45px;
    width: 45px;
}

#menubg{
    height: 120px;
    width: 120px;
}

.banner-c{
    display: grid;
    width: 325px;
    height: 150px;
    background-color: #791010;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.banner-b{
    display: flex;
    background-color: black;
    width: 320px;
    height: 145px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 35px;
    border: none;
}

#b1-c{
    margin-top: -15px;
}

.img{
    transition: 0.2s;
}

.img:hover{
    opacity: 0.7;
}

.main-img-c{
    display:flex;
    position: relative;
    background-color: black;
    width: 300px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
}